<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<string>Fri Jun 07 18:27:54 +0800 2013</string>
		<key>icon</key>
		<string>1385536285032.png</string>
		<key>text</key>
		<string>&apos;我的逃亡之旅到底还需要持续多久？即使是最强之风，终有一天也会在瓦罗兰大陆中逝去&apos;-亚索</string>
		<key>name</key>
		<string>疾风剑豪·亚索</string>
		<key>imagesURL</key>
		<array>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
		</array>
		<key>comment</key>
		<string>奋斗过的舒服个电饭锅电饭锅地方过对方是个电风扇广东省天啊但是让他饿而他 </string>
	</dict>
	<dict>
		<key>time</key>
		<string>星期二</string>
		<key>icon</key>
		<string>1381398467886.png</string>
		<key>text</key>
		<string>金克丝活着就是为了不计后果的四处肆虐，在她身后留下的只有一片混乱与恐慌。她是一名暴躁而残忍的罪犯，她蔑视一切仅仅是因为无聊，她会在她认为最无趣的地方：皮尔特沃夫。</string>
		<key>name</key>
		<string>暴走萝莉·金克丝</string>
		<key>imagesURL</key>
		<array>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
		</array>
	</dict>
	<dict>
		<key>time</key>
		<string>星期一</string>
		<key>icon</key>
		<string>1376619482925.png</string>
		<key>text</key>
		<string>卢锡安使用的是拥有传承力量的神圣武器，并成为对付不死族群的卫士。他冷静而强大，面对无尽的恐怖时仍然可以惩罚对手通过其拥有的驱除之火。</string>
		<key>name</key>
		<string>圣枪游侠·卢锡安</string>
		<key>imagesURL</key>
		<array>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
		</array>
	</dict>
	<dict>
		<key>time</key>
		<string>Fri Jun 07 18:27:54 +0800 2015</string>
		<key>icon</key>
		<string>1371093644361.png</string>
		<key>text</key>
		<string>&apos;战者，或为荣耀，或为赞颂。然此皆仅为战所存也。&apos;——亚托克斯</string>
		<key>name</key>
		<string>暗裔剑魔·亚托克斯</string>
		<key>imagesURL</key>
		<array>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
		</array>
	</dict>
	<dict>
		<key>time</key>
		<string>Fri Jun 07 2:2:2 +0800 2013</string>
		<key>icon</key>
		<string>231871561051.png</string>
		<key>text</key>
		<string>闭上眼睛，让寒冷将你夺去。&apos;——丽桑卓</string>
		<key>name</key>
		<string>冰霜女巫·丽桑卓</string>
		<key>imagesURL</key>
		<array>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
		</array>
	</dict>
	<dict>
		<key>time</key>
		<string>星期一</string>
		<key>icon</key>
		<string>228242993255.png</string>
		<key>text</key>
		<string>&apos;即使你没有脊柱，你依然必须站起来。&apos;—扎克</string>
		<key>name</key>
		<string>生化魔人·扎克</string>
		<key>imagesURL</key>
		<array>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>225382419902.png</string>
		<key>text</key>
		<string>大多数士兵会依赖他们的武器。只有少数人才会真正地相互依赖。——奎因</string>
		<key>name</key>
		<string>德玛西亚之翼·奎因</string>
		<key>imagesURL</key>
		<array>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
		</array>
	</dict>
	<dict>
		<key>time</key>
		<string>星期一</string>
		<key>icon</key>
		<string>222714396868.png</string>
		<key>text</key>
		<string>魂锁典狱长的过去鲜为人知，并且大多数细节只存在于童谣和传闻中。它们讲述着一个丧心病狂的狱卒的故事。</string>
		<key>name</key>
		<string>魂锁典狱长·锤石</string>
		<key>imagesURL</key>
		<array>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
		</array>
	</dict>
	<dict>
		<key>time</key>
		<string>星期一</string>
		<key>icon</key>
		<string>219251317038.png</string>
		<key>text</key>
		<string>&apos;真遗憾。我有两只拳头，但你的脸上只放得下一只。&apos;-蔚</string>
		<key>name</key>
		<string>皮城执法官·蔚</string>
		<key>imagesURL</key>
		<array>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
			<string>1385536285032.png</string>
		</array>
	</dict>
</array>
</plist>
