<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>time</key>
        <string>星期一</string>
        <key>icon</key>
        <string>215627419666.png</string>
        <key>text</key>
        <string>&apos;真正的追随者无需害怕蜘蛛的拥抱。&apos;-伊莉丝</string>
        <key>name</key>
        <string>蜘蛛女皇·伊莉丝</string>
    </dict>
    <dict>
        <key>time</key>
        <string>星期一</string>
        <key>icon</key>
        <string>212665677660.png</string>
        <key>text</key>
        <string>如果你愿意探索大自然的奇妙，你会发现有相当一部分数量的动物充分适应着生存环境。当然，偶尔你会遇见一种生物能够适应任何环境。比如：虚空掠夺者-卡&apos;兹克。</string>
        <key>name</key>
        <string>虚空掠夺者·卡&apos;兹克</string>
    </dict>
    <dict>
        <key>time</key>
        <string>星期一</string>
        <key>icon</key>
        <string>210247356941.png</string>
        <key>text</key>
        <string>&apos;能量属于那些能够运用它的人！&apos;-辛德拉</string>
        <key>name</key>
        <string>暗黑元首·辛德拉</string>
    </dict>
    <dict>
        <key>time</key>
        <string>星期一</string>
        <key>icon</key>
        <string>209057893970.png</string>
        <key>text</key>
        <string>&apos;单手宰羊，不如双手屠狼。&apos;——雷恩加尔。</string>
        <key>name</key>
        <string>傲之追猎者·雷恩加尔</string>
    </dict>
    <dict>
        <key>time</key>
        <string>星期一</string>
        <key>icon</key>
        <string>207847215830.png</string>
        <key>text</key>
        <string>黛安娜投身于战斗的热浪中，挥舞着她月牙枪刃，无情地施放着她的月光能量。</string>
        <key>name</key>
        <string>皎月女神·黛安娜</string>
    </dict>
    <dict>
        <key>time</key>
        <string>星期一</string>
        <key>icon</key>
        <string>207225320108.png</string>
        <key>text</key>
        <string>靠近那些美丽的花儿，就靠近一些荆棘&apos;-婕拉</string>
        <key>name</key>
        <string>荆棘之兴·婕拉</string>
    </dict>
    <dict>
        <key>time</key>
        <string>星期一</string>
        <key>icon</key>
        <string>205773517075.png</string>
        <key>text</key>
        <string>武装着睿智与魅力，以及标志性的可变形铁锤，杰斯毕生致力于守护他的祖国，皮尔特沃夫。</string>
        <key>name</key>
        <string>未来守护者·杰斯</string>
    </dict>
    <dict>
        <key>time</key>
        <string>星期一</string>
        <key>icon</key>
        <string>201804651313.png</string>
        <key>text</key>
        <string>团结一致的诺克萨斯能够掌控整个世界！而且理应如此！</string>
        <key>name</key>
        <string>诺克萨斯之手·德莱厄斯</string>
    </dict>
    <dict>
        <key>time</key>
        <string>星期一</string>
        <key>icon</key>
        <string>197908560081.png</string>
        <key>text</key>
        <string>这位高大魁梧、披坚执锐的幽魂就已将恐惧深深地植入到了那些见过他的人们的心中。</string>
        <key>name</key>
        <string>战争之影·赫卡里姆</string>
    </dict>
    <dict>
        <key>time</key>
        <string>星期一</string>
        <key>icon</key>
        <string>198079477246.png</string>
        <key>text</key>
        <string>为了镇压一个远古的腐败深渊而建的一间寺院。这个深渊是那么地令人不安。韦鲁斯被一间神圣的艾欧尼亚寺院选作守望者。</string>
        <key>name</key>
        <string>惩戒之箭·韦鲁斯</string>
    </dict>
    <dict>
        <key>time</key>
        <string>星期一</string>
        <key>icon</key>
        <string>196703018435.png</string>
        <key>text</key>
        <string>璐璐率性而为的程度，也许联盟中没有哪个英雄能够比得上。在班德尔城中度过的青春岁月中，她总是把大部分时间都花在林间漫步或者做白日梦上。</string>
        <key>name</key>
        <string>仙灵女巫·璐璐</string>
    </dict>

</array>
</plist>
